<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         processIsolation="true"
         stopOnFailure="true"
         syntaxCheck="true">
    <testsuites>
        <testsuite name="Library Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
